/* --------- main - Actividades -------- */

.main-actividades{
    .presentacion-2{
        display: flex;
        .presentacion-2-texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .actividades-secciones{
        background-color: $violeta;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        padding: 20px 20px;
        .secciones-individuales{
            display: inline-block;
        }
        h5{
            color: $verde;
        }
        p{
            color: white;
        }
    }

}
