/* --------- main - nosotros -------- */

.main-nosotros{
    .presentacion{
        display: flex;
        .presentacion-texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .items{
        background-color: #2b2a42;
        text-align: center;
        padding: 40px 0;
        color: white;
        ul{
            li{
                list-style: circle;
            }
        }
        
    }
    .formas-de-trabajo{
        display: flex;
        padding: 40px 0;
        justify-content: space-evenly;
        align-items: center;
        .items-formas{
            align-items: center;
            text-align: center;
        }
    }
}