/* --------- main - index -------- */

.banner1-home {
    display: flex;
    flex-direction: row;
    .banner1-home-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        padding: 40px 40px;
    }
    .banner1-home-imagen{
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 900px) {
    .banner1-home{
      flex-direction: column;
    }
  }

.seccion-home-destacados{
    background-image: linear-gradient(rgb(26, 18, 33), $violeta);
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
    align-content: center;
    justify-content: space-around;
    padding: 20px 0;
    h3{
        text-align: center;
    }
}

.home-carrusel img{
    width: 100vw;

}

.planes-sección{
    .planes-titulo{
        text-align: center;
    }
    .planes{
        background-image: linear-gradient(rgb(26, 18, 33), $violeta);
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 0;
        .planes-seccion{
            .planes-subidadetexto{
                color: $verde;
            }
        }
    }
}

.prueba-gratis{
    display: flex;
    flex-direction: row; 

    .prueba-gratis-img{
        img{
        max-width: 100%;
        height: auto;
    }
    }
    .prueba-gratis-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        padding: 0 60px;
    }
   
}
@media screen and (max-width: 900px) {
    .prueba-gratis{
      flex-direction: column;
    }
  }

.servicios{
    display: flex;
    padding: 40px 40px;
    justify-content: space-evenly;
    align-items: center;
    .servicios-home{
        .servicios-cuerpo{
            display: inline-block;
            height: 100px;
        }
    }
    .servicios-cuerpo{
        height: 150px;
        align-items: center;
        p{
            text-align: center;
        }
    }

    
}

